<div class="input-group col-md-12 align-center">
  <div class="form-group col-md-2 col-md-offset-5">
    <select [(ngModel)]="positionTitle" class="form-control custom-select">
        <option value="0">I'm A:</option>
        <option value="1">Web Developer</option>
        <option value="2">Android Developer</option>
        <option value="3">iOS Developer</option>
    </select>
  </div>
</div>
<div class="input-group">
	<input auto-complete [(ngModel)]="companies" [source]="companiesList" class="main-input full-width" placeholder="Company Name, e.g. Google, Facebook, Yahoo...">
	<span class="input-group-btn">
		<input (click)="findOpenPositions()" type="submit" class="btn dark" value="Go">
    </span>
</div>